# VouchSafe Next.js Frontend Environment Variables
# These can be used to override the default Testnet contract addresses.

# The contract ID for the VouchRegistry contract
NEXT_PUBLIC_REGISTRY_ID=CBML5ICVVEU4QWWWAPHMNF3RG2QSP7YENUKUTW5H6KBQ2T6ZRFLO3NUE

# The contract ID for the VouchVault contract
NEXT_PUBLIC_VAULT_ID=CCMNCGRMMBWSSAPMJT6SOBRKYEYL5VHISP3PMOLT6QDTHAALM42JS4IQ

# The contract ID for the VouchGate contract (used for access requests and selective disclosure)
NEXT_PUBLIC_ACCESS_ID=CBCFYEZT4VXKIRIVDA2LEVMFGRQMTBK4COCRFSRRLJSYCQ3DBR3WXN4N
