@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans), sans-serif;
  background-color: #FDFBF7;
  color: #0F172A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif), serif;
}
